:root {
  --primary-color: rgb(233, 244, 121);
  --rect-color: rgb(66, 67, 61);
}
body {
  padding: 0;
  margin: 0;
  background: var(--primary-color);
}

#rectangle {
  border: solid 1px;
  width: 35vw;
  height: 95vh;
  position: relative;
  top: 2.5vh;
  left: calc(65vw / 2);
  border-radius: 10px;
  background: var(--rect-color);
}

#screen {
  border: solid 1px;
  width: 90%;
  height: 10%;
  position: absolute;
  top: 2%;
  left: 5%;
  background: white;
  text-align: end;
  font-size: xx-large;
}

#operation-input {
  font-size: xx-large;
  width: 98.5%;
  /* text-align: right; */
  border: none;
}

#keyboard {
  border: solid 1px;
  width: 90%;
  height: 70%;
  position: absolute;
  top: 20%;
  left: 2%;
  display: grid;
  column-gap: 10px;
  padding: 3%;
}
.keys-row {
  display: flex;
  align-items: stretch;
  flex-flow: row wrap;
  gap: 10px;
}
.key {
  flex-grow: 1;
  height: 50%;
  border-radius: 10px;
  background-color: #e9e5e5;
  border-color: var(--rect-color);
  font-size: large;
}

#key-equal {
  height: 90%;
  font-size: xx-large;
  flex-grow: 0.5;
  background: rgb(27, 130, 214);
  color: white;
}

#key-power,
#key-X,
#key-minus,
#key-plus,
#key-C,
#key-del,
#key-division {
  font-size: x-large;
}
#key-plus,
#key-minus,
#key-power,
#key-X,
#key-division {
  background: greenyellow;
  /* border-color: rgb(233, 244, 121); */
}
#key-C {
  background-color: #784949;
  color: white;
}

#key-del {
  background: rgb(233, 82, 82);
  color: white;
}

@media only screen and (max-width: 1000px) {
  #rectangle {
    width: 50vw;
    left: 25vw;
  }
}
